

@font-face {
  font-family: Outfit;
  src: url("./Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: Social;
  src: url("./Socialicons-9BMK.otf");
}
@font-face {
  font-family: Sign;
  src: url("./WebsymbolsRegular-qyo0.otf");
}
@font-face {
  font-family: Sicon;
  src: url("./SocialMedia-ZxpB.ttf");
}

* {
  box-sizing: border-box;
  flex-wrap: wrap;
  text-decoration: none;
  outline: none;
  font-family: Outfit;
  padding: 0;
  margin: 0;
  list-style: none;
}

:root{
  --butter: #e0e0e2;
  --deep: #000823;
  --dark: #00030c;
  --blue: #448fff;
}

body{
  background: var(--butter);
}

span{
  color: var(--blue);
}

.eniola_best_cta{
  display: none;
}





img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* p h1 h3  p h1 h3  p h1 h3  p h1 h3  p h1 h3  p h1 h3  */
@media only screen and (min-width: 220px) and (max-width:800px ){

  h1{
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
  }
  h3{
    font-size: 25px;
    padding: 10px 0;
    font-weight: 500;
    color: var(--blue);
  }
  p{
    font-weight: 300;
    padding: 10px 0;
    font-size: 18px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 800px) and (max-width:1350px ){

  h1{
    font-size: 80px;
    line-height: 85px;
    font-weight: 900;
  }
  h3{
    font-size: 25px;
    padding: 10px 0;
    font-weight: 500;
    color: var(--blue);
  }
  p{
    font-weight: 300;
    padding: 10px 0;
    font-size: 22px;
    line-height: 35px;
  }
}
/* p h1 h3  p h1 h3  p h1 h3  p h1 h3  p h1 h3  p h1 h3  */

   

button{
  background: none;
  outline: 1px solid var(--blue);
  border-radius: 0px;
  border: none;
  padding: 10px 30px;
  margin: 20px 40px 0px 0px;
  font-size: 16px;
  color: var(--butter)
}
button:hover{
  background: var(--blue);
  color: var(--deep);
  transition: all ease 0.6s;
}






    /*Header Header Header Header Header Header Header HeaderHeader HeaderHeader */

    /* .burger_container {
      width: 40px;
      height: auto;
      position: fixed;
      display: flex;
      justify-content: right;
      z-index: 1000;
      margin: 10px 20px;
    }

    .burger {
      height: 3px;
      background-color: var(--dark);
      border-radius: 5px;
      margin: 2px 0px;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

  .burger:nth-child(1) {
      width: 100%;
    }

   .burger:nth-child(2) {
      width: 70%;
    }

  .burger:nth-child(3) {
     width: 80%;
    }

.burger_container.open .burger:nth-child(1) {
      transform: rotate(45deg) translateY(8px);
      width: 70%;
      background: var(--butter);
    }
    
    .burger_container.open .burger:nth-child(2) {
      background: var(--butter);
      opacity: 0;
    }
    
    .burger_container.open .burger:nth-child(3) {
      background: var(--butter);
      transform: rotate(-45deg) translateY(-8px);
    } */


    /* Navigation Menu */
    .nav-menu {
      position: fixed;
      background: #000823;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background-color: var(--dark);
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 100;
    }

    .nav-menu ul {
      list-style: none;
      padding-top: 60px;
    }

    .nav-menu ul li {
      padding: 15px;
      text-align: center;
    }

    .nav-menu ul li a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }

    /* Open States */
    .nav-menu.open {
      transform: translateX(0);
    }
    nav ul li a.active {
      color: var(--blue); /* Active link color */
    }
    nav .close{
      display: none;
    }
    /*Header Header Header Header Header Header Header HeaderHeader HeaderHeader */





    /*showcase showcase showcase showcase showcase showcase showcase showcaseshowcase showcaseshowcase */

    @media only screen and (min-width: 800px) and (max-width:1350px ){
      .showcase{
        width: 100%;
        height: auto;
        margin-top:  40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
      .show_text{
        width: 60%;
        height: auto;
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
      }
      .show_img{
        max-width: 40%;
        height: 600px;
      }
    }

    @media only screen and (min-width: 220px) and (max-width:799px ){
      .showcase{
        width: 100%;
        height: auto;
        margin: 0px 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
      .show_text{
        width: 90%;
        height: auto;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 100px;
      }

      .show_img{
        max-width: 100%;
        height: 600px;
      }
    }
    /*showcase showcase showcase showcase showcase showcase showcase showcaseshowcase showcaseshowcase */






  /*Services Services Services Services Services Services Services Services Services */
    @media only screen and (min-width: 220px) and (max-width:700px ){

      #services{  width: 100%;
        height: auto;
        background: var(--dark);
      }
    
    .services_box{
      width: 100%;
      height: auto;
      margin: 0px 0%;
      padding: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .service_ind{
      width: 90%;
      height: auto;
      padding: 30px;
      margin: 10px 5%;
      background: var(--deep);
    }
    .service_ind h1{
      font-family: Sign;
      color: var(--butter);
      font-size: 70px;
      font-weight: 100;
    }
    .service_ind p{
      color: var(--butter);
      font-size: 18px;
      line-height: 25px;
    }
    .service_ind h3{
      color: var(--blue);
    }
    
    
    .service_text{
      width: 90%;
      height: auto;
      margin: 30px 5%;
    }
    .service_text h3{
      color: var(--blue);;
    }
    .service_text p{
      color: var(--butter);
      font-size: 18px;
    }
  
  
  }
    @media only screen and (min-width: 701px) and (max-width:1350px ){

      #services{  width: 100%;
        height: auto;
        background: var(--dark);
      }
    
    .services_box{
      width: 100%;
      height: auto;
      margin: 0px 0%;
      padding: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .service_ind{
      width: 337px;
      height: 300px;
      padding: 30px;
      margin: 10px 5px;
      background: var(--deep);
    }
    .service_ind h1{
      font-family: Sign;
      color: var(--butter);
      font-size: 100px;
      font-weight: 100;
    }
    .service_ind p{
      color: var(--butter);
      font-size: 14px;
      line-height: 18px;
    }
    .service_ind h3{
      color: var(--blue);
    }
    
    
    .service_text{
      width: 90%;
      height: auto;
      margin: 30px 5%;
    }
    .service_text h3{
      color: var(--blue);;
    }
    .service_text p{
      color: var(--butter);
      font-size: 18px;
    }
  
  
  }
    /*Services Services Services Services Services Services Services Services Services */





  /*Portfolio Portfolio Portfolio Portfolio Portfolio Portfolio Portfolio Portfolio Portfolio */
  @media only screen and (min-width: 220px) and (max-width:800px ){
    .portfolio-section {
      max-width: 100%;
      margin: 0 0;
      padding: 50px 0px;
      text-align: center;
      background: var(--dark);
    }
    
    .portfolio-section h2 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 40px;
      font-weight: 700;
    }
    
    /* Portfolio Grid */
    .portfolio-grid {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      justify-items: center;
      padding: 50px 0;
      background: var(--dark);
    }
    
  
    .portfolio-item {
      position: relative;
      width: 330px;
      height: 330px;
      overflow: hidden;
      border-radius: 0px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      margin: 5px;
    }
    
    .portfolio-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.3s ease;
    }
    
    .portfolio-item:hover {
      transform: scale(1.02);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
    
    .portfolio-item:hover img {
      opacity: 0.7;
    }
    
    .portfolio-item .portfolio-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--blue);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    
    .portfolio-item:hover .portfolio-overlay {
      opacity: 1;
    }
    
    .portfolio-overlay h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--deep);
    }
    
    /* View More Button */
    .view-more-btn {
      cursor: pointer;
    }
    
    .view-more-btn:hover {
    }
    
    /* Hide extra portfolio items initially */
    .hidden {
      display: none;
    }
  }

  @media only screen and (min-width: 801px) and (max-width:1350px ){
  .portfolio-section {
    max-width: 100%;
    margin: 0 0;
    padding: 50px 0px;
    text-align: center;
    background: var(--dark);
  }
  
  .portfolio-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
    font-weight: 700;
  }
  
  /* Portfolio Grid */
  .portfolio-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
    padding: 50px 0;
    background: var(--dark);
  }
  

  .portfolio-item {
    position: relative;
    width: 330px;
    height: 330px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;
  }
  
  .portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  .portfolio-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .portfolio-item:hover img {
    opacity: 0.7;
  }
  
  .portfolio-item .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
  }
  
  .portfolio-overlay h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--deep);
  }
  
  /* View More Button */
  .view-more-btn {
    cursor: pointer;
  }
  
  .view-more-btn:hover {
  }
  
  /* Hide extra portfolio items initially */
  .hidden {
    display: none;
  }
}
  /*Portfolio Portfolio Portfolio Portfolio Portfolio Portfolio Portfolio Portfolio Portfolio */





/*Experience Experience Experience Experience Experience Experience Experience Experience Experience */
@media only screen and (min-width: 220px) and (max-width:800px ){

  #experience {
    width: 100%;
    margin: 0 0;
    height: auto;
    padding:60px 0;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    width: 100%;
    margin: 10px 0%;
  }

  .timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  .timeline-content {
    width: 100%;
    height: auto;
    margin: 10px 0px;
    background-color: var(--deep);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  company {
    font-size: 20px;
    color: var(--butter);
    margin-bottom: 0.5rem;
  }
  
  .duration {
    font-size: 14px;
    color: var(--blue);
    line-height: 22px;
  }
  
  .description {
    font-size: 18px;
    color: var(--butter);
  }

  .section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
    position: relative;
  }

  
.company {
  font-size: 20px;
  color: var(--butter);
  margin-bottom: 0.5rem;
}

.duration {
  font-size: 14px;
  color: var(--blue);
  line-height: 22px;
}

.description {
  font-size: 18px;
  color: var(--butter);
}
}


@media only screen and (min-width: 801px) and (max-width:1350px ){

  #experience {
    width: 100%;
    margin: 0 0;
    height: auto;
    padding: 0px 0;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    width: 100%;
    margin: 10px 0%;
  }

  .timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  .timeline-content {
    width: 350px;
    height: 300px;
    margin: 10px 10px;
    background-color: var(--deep);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  company {
    font-size: 20px;
    color: var(--butter);
    margin-bottom: 0.5rem;
  }
  
  .duration {
    font-size: 14px;
    color: var(--blue);
    line-height: 22px;
  }
  
  .description {
    font-size: 18px;
    color: var(--butter);
  }

  .section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
    position: relative;
  }

  
.company {
  font-size: 20px;
  color: var(--butter);
  margin-bottom: 0.5rem;
}

.duration {
  font-size: 14px;
  color: var(--blue);
  line-height: 22px;
}

.description {
  font-size: 18px;
  color: var(--butter);
}
}
/*Experience Experience Experience Experience Experience Experience Experience Experience Experience */





/*Progress Progress Progress Progress Progress Progress Progress Progress Progress */

@media only screen and (min-width: 220px) and (max-width:800px ){

  #progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    padding: 20px;
    background: var(--dark);
}
.progressed {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circled {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(var(--blue) calc(var(--progress) * 1%), var(--butter) 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background 0.3s ease;
    margin: 20px 0px;
}
.circle_text {
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    background-color: var(--dark);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_text h1{
  font-size: 50px;
  color: var(--butter);
  position: relative;
}

.text-underneath {
  font-size: 15px;
    margin-top: 0px;
    color:  var(--butter);
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}
}

@media only screen and (min-width: 801px) and (max-width:1350px ){

  #progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    padding: 20px;
    background: var(--dark);
}
.progressed {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circled {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(var(--blue) calc(var(--progress) * 1%), var(--butter) 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background 0.3s ease;
    margin: 20px 0px;
}
.circle_text {
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    background-color: var(--dark);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_text h1{
  font-size: 60px;
  color: var(--butter);
  position: relative;
}
.circle_text h1 span{
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: -18px;
}
.text-underneath {
  font-size: 18px;
    margin-top: 10px;
    color:  var(--butter);
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}
}
/*Progress Progress Progress Progress Progress Progress Progress Progress Progress */




/*Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials */
@media only screen and (min-width: 220px) and (max-width:800px ){

  #testimonial_section {
    width: 100%;
    max-width: 1200px;
    padding: 80px 0;
    text-align: center;
    background: var(--dark);
  }
  
  
  .testimonials {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10px 5%;
  }
  
  .testimonial {
    background-color: var(--deep);
    padding: 20px;
    border-radius: 0px;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .testimonial:hover {
    transform: translateY(-10px);
  }
  
  .testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
  }
  
  .testimonial p {
    color:  var(--butter);
    /* font-style: italic; */
    margin-bottom: 10px;
    font-size: 18px
  }
  
  .testimonial .client-name {
    font-weight: bold;
    color: var(--blue);
    font-weight: 600;
    padding-bottom: 10px;
  }
  
  .testimonial .client-role {
    color: #888;
  }
}

@media only screen and (min-width: 801px) and (max-width:1350px ){
  
  #testimonial_section {
    width: 100%;
    padding: 80px 0;
    text-align: center;
    background: var(--dark);
  }
  
  
  .testimonials {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10px 5%;
  }
  
  .testimonial {
    background-color: var(--deep);
    padding: 20px;
    border-radius: 0px;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .testimonial:hover {
    transform: translateY(-10px);
  }
  
  .testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
  }
  
  .testimonial p {
    color:  var(--butter);
    /* font-style: italic; */
    margin-bottom: 10px;
    font-size: 22px
  }
  
  .testimonial .client-name {
    font-weight: bold;
    color: var(--blue);
    font-weight: 600;
    padding-bottom: 10px;
  }
  
  .testimonial .client-role {
    color: #888;
  }
}
/*Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials */




/*Contact Contact Contact Contact Contact Contact Contact Contact Contact */
@media only screen and (min-width: 220px) and (max-width:800px ){
  #contact_section {
    background-color: var(--dark);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
  }
  #contact_section h3{
    text-align: center;
  }

.contact_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.location_box{
  width: 90%;
  height: auto;
  background: var(--blue);
  overflow: hidden;
}
  
  form{
    width: 100%;
    height: auto;
    margin: 40px 0px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    color: var(--blue);
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 22px;
    background: var(--deep);
    outline: none;
    border: none;
    color: var(--butter);
  }
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: var(--butter);
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #ff0000;
    outline: none;
  }
  
  .form-group textarea {
    resize: vertical;
    min-height: 120px;
  }
  
  .form-group button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0px;
    cursor: pointer;
    width: 200px;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }

  .location_box{
    width: 100%;
    height: auto;
    background: var(--blue);
    overflow: hidden;
  }
}

@media only screen and (min-width: 801px) and (max-width:1350px ){
  #contact_section {
    background-color: var(--dark);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
  }
  #contact_section h3{
    text-align: center;
  }

.contact_box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.location_box{
  width: 40%;
  height: auto;
  background: var(--blue);
  overflow: hidden;
}
  
  form{
    width: 60%;
    height: auto;
    margin: 0 0%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    color: var(--blue);
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 22px;
    background: var(--deep);
    outline: none;
    border: none;
    color: var(--butter);
  }
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: var(--butter);
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #ff0000;
    outline: none;
  }
  
  .form-group textarea {
    resize: vertical;
    min-height: 120px;
  }
  
  .form-group button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0px;
    cursor: pointer;
    width: 200px;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
}

/*Contact Contact Contact Contact Contact Contact Contact Contact Contact */





/*Footer Footer Footer Footer Footer Footer Footer Footer Footer */
footer {
  background-color: var(--deep); /* Deep blue color */
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

footer .footer-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: relative;
}

.foot_box{
  flex: 1;
  min-width: 180px;
  text-align: left;
}


.footer-container h3 {
  padding: 4px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  display: block;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--blue); /* Change icon color on hover */
}

.foot_box  p{
  font-size:18px ;
}

.foot_box a p{
  font-size: 20px;
  padding: 0;
}

.social-media a {
  color: #fff;
  font-size: 16px;
  margin: 0 5px;
  transition: color 0.3s ease;
  padding: 0;
}

.social-media a:hover {
  color: var(--blue); /* Change icon color on hover */
}

.footer-container .copyright {
  font-size: 1rem;
  margin-top: 20px;
}

@media only screen and (min-width: 220px) and (max-width: 799px) {
  .foot_box{
    flex: 1;
    width: 90%;
    margin: 0 5%;
    min-width: 180px;
    text-align: left;
  }
}


@media only screen and (min-width: 800px) and (max-width: 9000px) {
  .footer-container{
    align-items: top;
    justify-content: top;
  }
  .foot_box{
    flex: 1;
    width: 90%;
    margin: 0 5%;
    min-width: 180px;
    text-align: left;
  }
}

/*Footer Footer Footer Footer Footer Footer Footer Footer Footer */






